* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 20px;
  background-color: rgb(250, 215, 220);
}

.container {
  display: flex;
  flex-direction: column;
}

/* Jednotlivá pole */

#nazev,
#date,
#popis,
#venue {
  padding: 8px;
  margin: 5px 0;
  width: 500px;
  font-size: 16px;
  background-color: rgb(240, 171, 181);
  border-radius: 5px;
}

::placeholder {
  color: rgb(104, 60, 66);
}

textarea {
  font-family: inherit;
  font-size: inherit;
}

/* Buttony */

.vygeneruj {
  margin: 10px 0;
  padding: 10px;
  cursor: pointer;
}

/* Tooltipu */

/* .tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  visibility: hidden;
  width: 220px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  left: 40%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
} */
